h1 {
  font-family: "georgia";
<<<<<<< HEAD
  color: rgba(178, 36, 68, 0.9);
=======
>>>>>>> master
}
h4 {
  font-family: "georgia";
}
.container {
    position: relative;
    width: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 200%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 14px;
  padding: 16px 32px;
  font-family: "helvetica"; 
  font-style: bold;
  height: 250px;
  width: 500px;
}
.content_lists {
   list-style: none;
   padding: 0px 10px 0px 0px;
 }
 body {
  padding: 0px 10px 0px 10px;
 }
#charity_links {
  margin: 0 auto;
    text-align: center;
}
.charity_list_item {
    display: inline-block;
    vertical-align: top;
    padding: 13px;
    font-weight:bold;
}
label {
  padding: 10px;
}
<<<<<<< HEAD
a {
color: rgba(178, 36, 68, 0.9);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: black;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
  /*BACKGROUND color for active*/
background-color: rgba(178, 36, 68, 0.9);
}
  .navbar-default {
    background-color: rgba(178, 36, 68, 0.9);
    border-color: #030033;
}

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }
  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }
.jumbotron {
  border-style: solid;
  border-color: black;
  background-color: rgba(178, 36, 68, 0.9);
}
.jumbotron h1{
  color: white;
}
=======
>>>>>>> master
