header{background-color: rgba(178, 36, 68, 0.9);
	font-family: "helvetica";
}
body{
	background-color: rgba(255, 255, 255, 1);
	font-family: "georgia";
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 200%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 14px;
  padding: 16px 32px;
  font-family: "helvetica";
  font-style: bold;
  height:250px;
  width: 500px;
}
